@model HastaneOtomasyonApp.Models.Laboratuvar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>SİL</h1>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Laboratuvar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sonuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sonuc.SonucAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasta.HastaTamAdı)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LaboratuvarID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
